#box {
    height: 400px;
    width: 300px;
    border: 6px solid black;
    border-radius: 12px;
}
#topText {
    color: green;
    font-size: 36px;
    font-family: Impact;
    font-style: bold;
    text-align: center;
}
#middleText {
    color: green;
    font-size: 18px;
    font-family: Impact;
    text-align: center;
}
.clock {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}