table {
    width: 500px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #97E8AA;
    border-spacing: 0;
    border-collapse: separate;
}

tr:nth-child(2) {
    color: green;
    font-size: 36px;
    font-family: Impact;
    font-style: bold;
    line-height: 1px;
}

tr:nth-child(4) {
    color: black;
    font-size: 22px;
    font-family: Impact;
    line-height: 1px;
}

.clock {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}